<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78804883888-hbbu9kuq3ck4crf1a995ncrr9nphqqt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78804883888-hbbu9kuq3ck4crf1a995ncrr9nphqqt6</string>
	<key>API_KEY</key>
	<string>AIzaSyD7xvmbzaCd9kUjtF0YFYADQOmpO5LYH6o</string>
	<key>GCM_SENDER_ID</key>
	<string>78804883888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acquired.paymentdemo</string>
	<key>PROJECT_ID</key>
	<string>acq-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>acq-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78804883888:ios:23f714a9bdff2ad658de75</string>
</dict>
</plist>